.cardWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  border-radius: 24px;
  background: #fbfbfb;
}

.nannyPhotoWrap {
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
  padding: 12px;
}

.nannyPhoto {
  border-radius: 15px;
  width: 96px;
  height: 96px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onlineStatusWrap {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #fbfbfb;
  position: absolute;
  padding: 2px;
  top: -4px;
  right: 0;
}

.onlineStatus {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #38cd3e;
}

.nannyInfoWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nannyGeneralInfo {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nameInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 8px;
}

.nannyWord {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.nannyName {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #11101c;
}

.locPriceWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locationWrap,
.ratingWrap,
.priceWrap {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #11101c;
}

.locationWrap,
.ratingWrap {
  position: relative;
}
.vertical {
  position: absolute;
  top: -4px;
  right: -12px;
  font-size: 20px;
  color: rgba(17, 16, 28, 0.2);
}

.price {
  color: #38cd3e;
}

.faviriteIcon {
  margin-left: 16px;
}

.faviriteBtn {
  background-color: transparent;
  border: none;
}

.nannyDetailsWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nannyDetailsInfo {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.info {
  padding: 8px 16px;
  border-radius: 24px;
  background: #f3f3f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.spanInfoChar {
  color: #11101c;
  text-transform: capitalize;
}

.spanInfo {
  color: #11101c;
}

.nannyInfoDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
}

.readMoreBtn {
  background-color: transparent;
  border: none;
  margin-top: -10px;
  align-self: start;
  text-decoration: underline;
}

.icon {
  fill: none;
  stroke: black;
}

.iconFavorite {
  fill: var(--color-main);
  stroke: var(--color-main);
}

.reviewerListWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 8px;
  margin-bottom: 24px;
}

.reviewerWrap {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;
}

.reviewerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  width: 44px;
  height: 44px;
  background: rgba(9, 87, 195, 0.2);
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  color: #0957c3;
}

.readMoreNameRating {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.readMoreName {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  color: #11101c;
}

.readMoreRatingWrap {
  display: flex;
  gap: 8px;
}

.readMoreRatingText {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #11101c;
}

.commentText {
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: rgba(17, 16, 28, 0.5);
}

.appointmentBtn {
  border-radius: 30px;
  padding: 14px 28px;
  width: 215px;
  height: 48px;
  background-color: var(--color-main);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  color: #fbfbfb;
  border: none;
  outline: none;
}

.appointmentBtn:hover {
  background-color: #0f6df1;
}

@media (min-width: 768px) {
  .cardWrap {
    flex-direction: row;
  }

  .nameInfo {
    margin-bottom: 12px;
  }

  .locPriceWrap {
    flex-direction: row;
    gap: 24px;
  }

  .priceWrap {
    flex-direction: column;
    gap: 0;
    width: 120px;
  }

  .reviewerListWrap {
    margin-top: 16px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1200px) {
  .cardWrap {
    gap: 24px;
    padding: 24px;
  }

  .nannyInfoWrap {
    gap: 24px;
  }

  .nannyGeneralInfo {
    flex-direction: row;
  }

  .nameInfo {
    margin-bottom: 0;
  }

  .locPriceWrap {
    gap: 32px;
  }

  .priceWrap {
    flex-direction: row;
    gap: 4px;
    width: 136px;
  }

  .vertical {
    right: -16px;
  }

  .reviewerListWrap {
    margin-top: 24px;
    gap: 25px;
    margin-bottom: 48px;
  }
}
