.cardWrap {
  width: 100%;
  display: flex;
  gap: 16px;
  padding: 16px;
  border-radius: 24px;
  background: #fbfbfb;
}

.nannyPhotoWrap {
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  width: 120px;
  height: 120px;
  padding: 12px;
}

.nannyPhoto {
  border-radius: 15px;
  width: 96px;
  height: 96px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.onlineStatusWrap {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: #fbfbfb;
  position: absolute;
  padding: 2px;
  top: -4px;
  right: 0;
}

.onlineStatus {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: #38cd3e;
}

.nannyInfoWrap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.nannyGeneralInfo {
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.nameInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nannyWord {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.nannyName {
  font-weight: 500;
  font-size: 24px;
  line-height: 1;
  color: #11101c;
}

.locPriceWrap {
  display: flex;
  gap: 24px;
}

.locationWrap,
.ratingWrap,
.priceWrap {
  display: flex;
  gap: 8px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #11101c;
}

.locationWrap,
.ratingWrap {
  position: relative;
}
.vertical {
  position: absolute;
  top: -4px;
  right: -12px;
  font-size: 20px;
  color: rgba(17, 16, 28, 0.2);
}

.price {
  color: #38cd3e;
}

.faviriteIcon {
  margin-left: 16px;
}

.nannyDetailsWrap {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nannyDetailsInfo {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.info {
  padding: 8px 16px;
  border-radius: 24px;
  background: #f3f3f3;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #8a8a89;
}

.spanInfoChar {
  color: #11101c;
  text-transform: capitalize;
}

.spanInfo {
  color: #11101c;
}

.nannyInfoDescription {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(17, 16, 28, 0.5);
}

.readMoreBtn {
  background-color: transparent;
  border: none;
  margin-top: -10px;
  align-self: start;
  text-decoration: underline;
}

.icon {
  fill: none;
  stroke: black;
}

@media (min-width: 768px) {
}

@media (min-width: 1200px) {
  .cardWrap {
    gap: 24px;
    padding: 24px;
  }

  .nannyInfoWrap {
    gap: 24px;
  }

  .locPriceWrap {
    display: flex;
    gap: 32px;
  }

  .vertical {
    right: -16px;
  }
}
