.heroWrap {
  margin-top: -64px;
  width: 100%;
  height: 736px;
  display: flex;
}

.heroLeft {
  display: none;
}

.heroRight {
  width: 100%;
  background-image: url('/bg-image.png');
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .heroWrap {
    margin-top: -88px;
  }
}

@media (min-width: 1200px) {
  .heroLeft {
    display: flex;
    background-color: var(--color-main);
    width: 50%;
  }
  .heroRight {
    width: 50%;
  }
}
