.heroWrap {
  margin-top: -64px;
  width: 100%;
  height: 736px;
  display: flex;
  position: relative;
}

.heroLeft {
  position: absolute;
  padding: 140px 64px 0 16px;
  z-index: 2;
}

.heroRight {
  width: 100%;
  background-image: url('/bg-image.png');
  min-height: 400px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.title {
  font-weight: 500;
  font-size: 48px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #fbfbfb;
  margin-bottom: 28px;
}

.heroText {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.07;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 64px;
}

.startBtn {
  border: none;
  border-radius: 30px;
  padding: 18px 50px;
  width: 230px;
  height: 60px;
  background-color: var(--color-main);
  color: #fbfbfb;
}

.startBtn svg {
  margin-left: 18px;
}

.totalNannies {
  border-radius: 20px;
  width: 264px;
  height: 118px;
  background-color: #fbfbfb;
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 32px;
  justify-content: center;
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.svgWrap {
  border-radius: 13px;
  width: 54px;
  height: 54px;
  background-color: var(--color-main);
  display: flex;
  justify-content: center;
  align-items: center;
}

.svgWrap svg {
  color: #fbfbfb;
}

.nannies {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.nanniesText {
  font-weight: 400;
  font-size: 16px;
  color: rgba(17, 16, 28, 0.5);
}

.nanniesTotal {
  font-weight: 700;
  font-size: 24px;
  color: #11101c;
}

@media (min-width: 768px) {
  .heroWrap {
    margin-top: -88px;
  }

  .heroLeft {
    position: absolute;
    padding: 160px 64px 0 32px;
  }

  .title {
    font-size: 64px;
    width: 480px;
  }

  .heroText {
    font-size: 24px;
  }

  .totalNannies {
    bottom: 32px;
    right: 32px;
    width: 284px;
  }
}

@media (min-width: 1200px) {
  .heroLeft {
    background-color: var(--color-main);
    width: 50%;
    padding: 251px 64px 0 96px;
    position: static;
  }
  .heroRight {
    width: 50%;
  }

  .title {
    font-size: 70px;
    width: 517px;
  }

  .heroText {
    font-size: 28px;
  }

  .startBtn {
    border: 1px solid rgba(251, 251, 251, 0.4);
  }

  .totalNannies {
    bottom: 50px;
    right: 50px;
  }
}
