.headerWrap {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main); /*!!!delete!!!!!!!*/
}

.headerWrap.privat {
  background-color: var(--color-main);
}

.headerWrap.public {
  /* background-color: transparent; */
  margin: 32px;
  border-radius: 30px 30px 0 0;
  max-width: 1376px;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  display: block;
}

.deskNav {
  display: none;
}

.burger {
  border: none;
  background-color: transparent;
  color: white;
}

@media (min-width: 768px) {
  .headerWrap {
    padding: 0 64px;
  }
}

@media (min-width: 1200px) {
  .headerWrap {
    height: 88px;
    padding: 0 128px;
  }

  .title {
    font-size: 24px;
  }

  .deskNav {
    display: flex;
    align-items: center;
  }

  .deskNav.privat {
  }

  .deskNav.public {
    width: 533px;
    justify-content: space-between;
  }

  .burger {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }

  .publicBtns {
    display: flex;
    gap: 8px;
  }
  .logInBtn {
    width: 124px;
    height: 48px;
    background-color: transparent;
    color: #fbfbfb;
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 39px;
  }

  .registrationBtn {
    border-radius: 30px;
    padding: 14px 40px;
    width: 168px;
    height: 48px;
    background-color: var(--color-main);
    color: #fbfbfb;
    border: none;
  }

  .userNameWrap {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .userName {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
  }

  .iconWrap {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: #fbfbfb;
    border-radius: 10px;
  }

  .privatBtns {
    display: flex;
    gap: 24px;
  }

  .logOutnBtn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    border-radius: 30px;
    padding: 14px 39px;
    width: 134px;
    height: 48px;
    background-color: var(--color-main);
    color: #fbfbfb;
  }
}
