.headerWrap {
  width: 100%;
  height: 64px;
  padding: 0 16px;
  color: #fbfbfb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-main); /*!!!delete!!!!!!!*/
  position: relative;
  z-index: 10;
}

.headerWrap.privat {
  background-color: var(--color-main);
}

.headerWrap.public {
  background-color: transparent;
  margin-bottom: 0;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  display: block;
}

.deskNav {
  display: none;
}

.burger {
  border: none;
  background-color: transparent;
  color: white;
}

.burger svg {
  width: 24px;
  height: 24px;
}

.barIsOpenWrap {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 120px 20px;
  align-items: center;
}

.closeBtn {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid rgba(206, 186, 186, 0.4);
  position: absolute;
  top: 24px;
  right: 12px;
  padding: 0;
  font-size: 32px;
}

.barNavigation {
  color: black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 60px;
}

.barNavLinks {
  padding: 12px 16px;
  font-size: 24px;
}

.barPublicBtns {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logInBtn {
  width: 240px;
  background-color: #6b9de4;
  color: #fbfbfb;
  border: none;
  border-radius: 30px;
  padding: 14px 39px;
  font-size: 24px;
  outline: none;
}

.registrationBtn {
  border-radius: 30px;
  padding: 14px 40px;
  width: 240px;
  background-color: var(--color-main);
  color: #fbfbfb;
  border: none;
  font-size: 24px;
}

.logOutnBtn {
  border-radius: 30px;
  padding: 14px 39px;
  width: 240px;
  background-color: var(--color-main);
  color: #fbfbfb;
  font-size: 24px;
}

@media (min-width: 768px) {
  .headerWrap {
    padding: 0 64px;
  }
  .burger svg {
    width: 40px;
    height: 40px;
  }

  .closeBtn {
    top: 40px;
    right: 64px;
  }
}

@media (min-width: 1200px) {
  .headerWrap {
    height: 88px;
    padding: 0 128px;
  }

  .headerWrap.public {
    margin-bottom: 0;
    padding: 20px 96px;
  }

  .title {
    font-size: 24px;
  }

  .deskNav {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 70px;
  }
  /*
  .deskNav.privat {
  } */

  .deskNav.public {
    justify-content: space-between;
    background-color: transparent;
  }

  .burger {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: -0.01em;
    color: #fbfbfb;
  }

  .publicBtns {
    display: flex;
    gap: 8px;
  }

  .logInBtn {
    width: 124px;
    height: 48px;
    background-color: transparent;
    border: 1px solid rgba(251, 251, 251, 0.4);
    font-size: 16px;
  }

  .registrationBtn {
    width: 168px;
    height: 48px;
    font-size: 16px;
  }

  .logOutnBtn {
    border: 1px solid rgba(251, 251, 251, 0.4);
    width: 134px;
    height: 48px;
    font-size: 16px;
  }

  .userNameWrap {
    display: flex;
    gap: 14px;
    align-items: center;
  }

  .userName {
    font-weight: 500;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
  }

  .iconWrap {
    width: 40px;
    height: 40px;
    padding: 12px;
    background-color: #fbfbfb;
    border-radius: 10px;
  }

  .privatBtns {
    display: flex;
    gap: 24px;
  }
}
