.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.layoutPublic {
  width: 100%;
  margin: 16px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.layoutPrivat {
  position: relative;
}

button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .layoutPublic {
    margin: 32px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}
