.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}
