.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
}

.layoutPublic {
  width: 100%;
  padding: 16px;
  /* margin: 0; */
  /* border-radius: 30px;
  overflow: hidden; */
  position: relative;
  min-height: 100vh;
  background-color: #fbfbfb;
}

.layoutPrivat {
  position: relative;
}

button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
  .layoutPublic {
    padding: 32px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1440px;
  }
}
