* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --color-main: #0957c3;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}
